<a href="https://colab.research.google.com/github/Rachita-G/Python_Practice/blob/main/Projects/Working_with_Covid_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

# Covid India

In [ ]:
data=pd.read_csv('C:\\Users\\sanjana grover\\Desktop\\RACHITA\\Python\\Data\\covid_19_india.csv')
data.head(30)

,Sno,Date,Time,State/UnionTerritory,ConfirmedIndianNational,ConfirmedForeignNational,Cured,Deaths,Confirmed
0,1,30/01/20,6:00 PM,Kerala,1,0,0,0,1
1,2,31/01/20,6:00 PM,Kerala,1,0,0,0,1
2,3,01/02/20,6:00 PM,Kerala,2,0,0,0,2
3,4,02/02/20,6:00 PM,Kerala,3,0,0,0,3
4,5,03/02/20,6:00 PM,Kerala,3,0,0,0,3
5,6,04/02/20,6:00 PM,Kerala,3,0,0,0,3
6,7,05/02/20,6:00 PM,Kerala,3,0,0,0,3
7,8,06/02/20,6:00 PM,Kerala,3,0,0,0,3
8,9,07/02/20,6:00 PM,Kerala,3,0,0,0,3
9,10,08/02/20,6:00 PM,Kerala,3,0,0,0,3
10,11,09/02/20,6:00 PM,Kerala,3,0,0,0,3
11,12,10/02/20,6:00 PM,Kerala,3,0,0,0,3
12,13,11/02/20,6:00 PM,Kerala,3,0,0,0,3
13,14,12/02/20,6:00 PM,Kerala,3,0,0,0,3
14,15,13/02/20,6:00 PM,Kerala,3,0,0,0,3
15,16,14/02/20,6:00 PM,Kerala,3,0,0,0,3
16,17,15/02/20,6:00 PM,Kerala,3,0,0,0,3
17,18,16/02/20,6:00 PM,Kerala,3,0,0,0,3
18,19,17/02/20,6:00 PM,Kerala,3,0,0,0,3
19,20,18/02/20,6:00 PM,Kerala,3,0,0,0,3
20,21,19/02/20,6:00 PM,Kerala,3,0,0,0,3
21,22,20/02/20,6:00 PM,Kerala,3,0,0,0,3
22,23,21/02/20,6:00 PM,Kerala,3,0,0,0,3
23,24,22/02/20,6:00 PM,Kerala,3,0,0,0,3
24,25,23/02/20,6:00 PM,Kerala,3,0,0,0,3
25,26,24/02/20,6:00 PM,Kerala,3,0,0,0,3
26,27,25/02/20,6:00 PM,Kerala,3,0,0,0,3
27,28,26/02/20,6:00 PM,Kerala,3,0,0,0,3
28,29,27/02/20,6:00 PM,Kerala,3,0,0,0,3
29,30,28/02/20,6:00 PM,Kerala,3,0,0,0,3

In [ ]:
data[State/UnionTerritory==]

In [ ]:
data.groupby('State/UnionTerritory')[['Cured','Deaths','Confirmed']].sum()

                                            Cured  Deaths  Confirmed
State/UnionTerritory
Andaman and Nicobar Islands                  3294       0       4798
Andhra Pradesh                             298156    8367     606956
Arunachal Pradesh                            1856      27       6813
Assam                                      179208     583     304923
Bihar                                      276539    3012     426408
Cases being reassigned to states                0       0     342062
Chandigarh                                  16904     329      24319
Chhattisgarh                                68510     442     102649
Dadar Nagar Haveli                             14       0        186
Dadra and Nagar Haveli and Daman and Diu     2639       1       6634
Daman & Diu                                     0       0          2
Delhi                                     1876159   95218    3156662
Goa                                         19934     128      45213
Gujarat                                   1005971   92420    1603360
Haryana                                    328008    7439     519123
Himachal Pradesh                            22605     479      37045
Jammu and Kashmir                          169137    4432     320957
Jharkhand                                   62070     712     100219
Karnataka                                  300711   10785     653265
Kerala                                     105824    1148     196620
Ladakh                                      17418      42      31429
Madhya Pradesh                             469635   31493     724570
Maharashtra                               3587086  310708    7502478
Manipur                                     15637       0      36822
Meghalaya                                    1775      96       3584
Mizoram                                      2205       0       5600
Nagaland                                     5908       0      14738
Odisha                                     191543    1108     289986
Puducherry                                   9887     337      22595
Punjab                                     170820    6159     257678
Rajasthan                                  617509   19774     878106
Sikkim                                       1339       0       3211
Tamil Nadu                                1926095   41404    3435218
Telangana                                  281185    8304     527136
Telengana                                   50222    2987     103803
Tripura                                     35103      38      57798
Unassigned                                      0       0        161
Uttar Pradesh                              619920   27790    1015700
Uttarakhand                                 70715    1321     108369
West Bengal                                426082   32209     764855

# Covid Global

In [3]:
rc=pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_recovered_global.csv')
dt=pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv')

In [4]:
rc['Province/State'].isnull().sum()

199

In [6]:
rc.shape , dt.shape

((274, 1107), (289, 1107))