<a href="https://colab.research.google.com/github/Rachita-G/Python_Practice/blob/main/Try/Python_Basic_Codes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introduction To Python

Python is a full fledged programming language that is mostly object oriented but can used in powerful and efficient ways without OOP. It is used in multiple applications including (but not limited to)
1. Web Development 
2. Database access 
3. Scientific and Numeric computing 
4. Game Development 

Python for Data Science has developed rapidly and is now the preferred language of choice for Data Scientists (along with R) the world over because of 
1. The package system
2. The libraries developed for Machine Learning 
3. Ability to do other tasks apart from Data Science and the convenience in Integration
4. Of course - Open Source

# ARTIHMETIC

In [ ]:
#Enables multiple outputs from each cell 
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [ ]:
# order of opertaions is PEMDAS - Parentheses, Exponents, Multiplication/Division, Addition/Subtraction.
1.1+2.2

3.3000000000000003

In [ ]:
x=int(input('write a number : '))

write a number : 23

In [ ]:
y = input('your name: ')

your name: rachita

In [ ]:
"so.." * 3

'so..so..so..'

In [1]:
print(5/2)
print(5//2) # integer value round off
print(5**3) #2^3
print(5%3) # modulus=- remainder when divided
# order of opertaions is PEMDAS - Parentheses, Exponents, Multiplication/Division, Addition/Subtraction.
print(8 - 3 + 2)
print(7-2*3)
print(abs(-3))
print(int(3.44))
print(float(10))

2.5
2
125
2
7
1
3
3
10.0

In [ ]:
4 * 3.75 - 1 # Integers are converted to floating point (when mixed operands)

14.0

In [ ]:
# method of float objects returns a numerator and a denominator in the form of a tuple
x=3.5
x.as_integer_ratio()

(7, 2)

In [ ]:
num,den=x.as_integer_ratio()
print(num/den)

3.5

In [ ]:
#swapping two variables!
a=0
b=1
a,b=b,a
print(a,b)

1 0

In [ ]:
# or another method for swapping
t=a
a=b
b=t
print(a,b)

0 1

In [ ]:
#interlude objects
real=12
print(real)
print(real.imag) # as it is real its imaginary part is 0
print(real.real)

complex = 1 + 5j # you can use j only, not i
print(complex)
print(int(complex.imag))
print(complex.real)
print(complex.conjugate())

12
0
12
(1+5j)
5
1.0
(1-5j)

In [ ]:
x=5
print(help(x.bit_length))
print(x.bit_length)
print(x.bit_length())

Help on built-in function bit_length:

bit_length() method of builtins.int instance
    Number of bits necessary to represent self in binary.

    >>> bin(37)
    '0b100101'
    >>> (37).bit_length()
    6

None
<built-in method bit_length of int object at 0x00007FFCEEAAA210>
3

In [ ]:
print(1,2,3,sep="<")

1<2<3

In [ ]:
round(2.56,1)

2.6

In [ ]:
round(109999,-4) # mainly used in rpunhd off currencies

110000

# STRINGS

In [ ]:
a="elephant"
print(list(a))
print(a[2],a[-3])
print(a[:2])
print(a[::2])
print(a[1::2])
print(a[-2:])
print(a[:2]+a[-2:])

['e', 'l', 'e', 'p', 'h', 'a', 'n', 't']
e a
el
eehn
lpat
nt
elnt

In [ ]:
print(set(a))
print(list(a))
print(a.split())
print(sorted(a))
print(list(reversed(a)))

{'e', 't', 'l', 'p', 'a', 'h', 'n'}
['e', 'l', 'e', 'p', 'h', 'a', 'n', 't']
['elephant']
['a', 'e', 'e', 'h', 'l', 'n', 'p', 't']
['t', 'n', 'a', 'h', 'p', 'e', 'l', 'e']

In [ ]:
# s[:i] + s[i:] is always equal to s

a[:2] + a[2:]

'elephant'

In [ ]:
# Python strings are immutable. Cannot be changed

# word[0] = 'J'  # gives error
'J' + a[1:]

'Jlephant'

In [ ]:
s = 'supercalifragilisticexpialidocious'
len(s)

34

In [ ]:
'does\'nt' #escape characters

"does'nt"

In [ ]:
a = 'restart'
a[0]+a[1:].replace('r','$')

'resta$t'

In [ ]:
a="hey i am i am you too too you"
a.split()
print(set(a.split()))
print("/n")
print(a.count("i"))
print(type(a))
print(a.find('you'))
print(a.index('i')) # first occurence
print(a.rfind('a')) # last occurence

['hey', 'i', 'am', 'i', 'am', 'you', 'too', 'too', 'you']

{'hey', 'i', 'am', 'you', 'too'}
/n
2
<class 'str'>
14
4
11
4

In [ ]:
# Python strings are immutable. Cannot be changed

word = 'rachita'
# word[0] = 'J'
# word[2:] = 'py'

In [ ]:
k={}
for i in set(a.split()):
    k[i]=a.split().count(i)
for item in k:
    print(item,':',k[item])

hey : 1
am : 2
i : 2
you : 2
too : 2

In [ ]:
str="Hey How Do YOu habah"
print(str.isupper())
print(str.upper())
print(str.swapcase())

False
HEY HOW DO YOU HABAH
hEY hOW dO yoU HABAH

In [ ]:
print('{name} - One ABI - Make IT Happen - {name}'.format(name="Vivek"))
name="Vivek"
print(f'{name} - One ABI - Make IT Happen - {name}')

Vivek - One ABI - Make IT Happen - Vivek
Vivek - One ABI - Make IT Happen - Vivek

In [ ]:
count=0
for var in x:
    if var.isupper()==True:
        count=count+1
    else:
        count=count
print(count)

5

In [ ]:
vowels=['a','e','i','o','u']
count=0
for var in x:
    if var in vowels:
        count=count+1
    else:
        count=count
            
print(count) # a and e

2

In [ ]:
string=" wrap lot's of other quotes"
string

" wrap lot's of other quotes"

In [ ]:
num = 12
name = 'Sam'
print('My number is: {one}, and my name is: {two}'.format(one=num,two=name))
print('My number is: {}, and my name is: {}'.format(num,name))

My number is: 12, and my name is: Sam
My number is: 13, and my name is: Sam

In [ ]:
st = 'hello my name is Sam'
print(st.lower())
print(st.upper())
print(st.split())

hello my name is sam
HELLO MY NAME IS SAM
['hello', 'my', 'name', 'is', 'Sam']

In [ ]:
tweet= "good morning # chilled #out# day"
print(tweet.split('#'))
print(tweet.split('#')[1])

['good morning ', ' chilled ', 'out', ' day']
 chilled

In [ ]:
def domainGet(email):
    return email.split('@')[-1]
domainGet('rachita@gmail.com')

'gmail.com'

In [ ]:
def findDog(st):
    return 'dog' in st.lower().split()
findDog('Is there a dog here?')

True

In [ ]:
def countDog(st):
    count = 0
    for word in st.lower().split():
        if word == 'dog':
            count += 1
    return count
countDog('This dog runs faster than the other dog dude!')

2

# BOOLEAN

In [ ]:
print(bool())
print(bool(0))
print(bool(1))

False
False
True

In [ ]:
x=True
print(type(x))

<class 'bool'>

In [ ]:
print(True or True and False)
print((True or True) and False) # use poarenthesis/

True
False

In [ ]:
print(bool("asf")) # all strings are treated as true, except the empty string ""
print(bool(""))
# Generally empty sequences (strings, lists, and other types we've yet to see like lists and tuples)
# are "falsey" and the rest are "truthy"

True
False

# FUNCTIONS

In [ ]:
help(round)

Help on built-in function round in module builtins:

round(number, ndigits=None)
    Round a number to a given precision in decimal digits.

    The return value is an integer if ndigits is omitted or None.  Otherwise
    the return value has the same type as the number.  ndigits may be negative.

In [ ]:
def least_difference(a, b, c):
    diff1 = abs(a - b)
    diff2 = abs(b - c)
    diff3 = abs(a - c)
    return min(diff1, diff2, diff3)
least_difference(1,10,100)

In [ ]:
help(least_difference)

NameError: name 'least_difference' is not defined

In [ ]:
def least_difference(a,b,c):
    """
    Return the smallest difference between any two numbers
    among a, b and c 
    """
    # this is docstring
    diff1 = abs(a - b)
    diff2 = abs(b - c)
    diff3 = abs(a - c)
    return min(diff1, diff2, diff3) # using return is imp beacuse if not used will not return a value when called

help(least_difference)

Help on function least_difference in module __main__:

least_difference(a, b, c)
    Return the smallest difference between any two numbers
    among a, b and c

In [ ]:
def greet(name="rachita"):
    print("hello ",name)
greet()

hello  rachita

In [ ]:
greet("sanjana")

hello  sanjana

In [ ]:
def caught_speeding(speed, is_birthday):
    
    if is_birthday:
        speeding = speed - 5
    else:
        speeding = speed
    
    if speeding > 80:
        return 'Big Ticket'
    elif speeding > 60:
        return 'Small Ticket'
    else:
        return 'No Ticket'

print(caught_speeding(81,True))
print(caught_speeding(81,False))

Small Ticket
Big Ticket

# MAP AND FILTER

In [ ]:
seq=[1,2,3,4,5]
list(map(float,seq))

[1.0, 2.0, 3.0, 4.0, 5.0]

In [ ]:
seq=[1,2,3,4,5]
print(map(lambda x: x*2, seq))
print(list(map(lambda x: x*2, seq)))

<map object at 0x000001C073FB3F08>
[2, 4, 6, 8, 10]

In [ ]:
print(list(map(lambda item: item%2 == 0, seq)))

[False, True, False, True, False]

In [ ]:
# returns where condition is true
print(filter(lambda item: item%2 == 0,seq))
print(list(filter(lambda item: item%2 == 0,seq)))

<filter object at 0x000001C073FA21C8>
[2, 4]

In [ ]:
seq = ['soup','dog','salad','cat','great']
list(filter(lambda word: word[0]=='s',seq))

['soup', 'salad']

In [ ]:
x= lambda word: word[0]=='s'
x(seq)

False

# range() function

In [ ]:
# range
print(sum(range(5))) # 4+3+2+1
print(list(range(8)))
print(list(range(0,10)))
print(list(range(0,10,2)))
print(list(range(-10,-100,-20)))

10
[0, 1, 2, 3, 4, 5, 6, 7]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 2, 4, 6, 8]
[-10, -30, -50, -70, -90]

In [ ]:
list(reversed(range(5)))

[4, 3, 2, 1, 0]

In [ ]:
x=['a','l','b','k']
sorted(x)

['a', 'b', 'k', 'l']

In [ ]:
for i in sorted(x):
    print(i)

a
b
k
l

In [ ]:
x=['a','l','b','k']
for i in range(len(x)):
    print(i,x[i])

0 a
1 l
2 b
3 k

In [ ]:
for i, v in enumerate(['a','b','c']):
    print(i,v)

0 a
1 b
2 c

In [ ]:
print(4,end='.')

4.

# Loops and Conditional Statements

In [ ]:
# function
def func(param1='default'):
    """
    Docstring goes here.
    """
    print(param1)

In [ ]:
print(func)
print(func())
print(func(2))
print(func("hey"))

<function func at 0x7f94496567a0>
default
None
2
None
hey
None

In [ ]:
x=int(input('enter an integer:'))
if x>0:
    print('x is positive')
else:
    print('x is negative')

enter an integer:2
x is positive

In [ ]:
for num in range(2,10):
    if num%2==0:
        print(num, 'is an even number')
        continue
    print(num, ' is a number')

2 is an even number
3  is a number
4 is an even number
5  is a number
6 is an even number
7  is a number
8 is an even number
9  is a number

In [ ]:
for n in range(2,10):
    for x in range(2,n):
        if n%x==0:
            print(n, 'equals', x ,'*', n//x)
            break
    else:
        print(n , 'is a prime number')

2 is a prime number
3 is a prime number
4 equals 2 * 2
5 is a prime number
6 equals 2 * 3
7 is a prime number
8 equals 2 * 4
9 equals 3 * 3

In [ ]:
#checking the prime numbers-- check divisibility by each numner except one and itself
n=7
for i in range(2,n):
    if n%i==0:
        print("not prime")
    else:
        print("prime")

prime
prime
prime
prime
prime

In [ ]:
#print onvce only
#checking the prime numbers-- check divisibility by each numner except one and itself
n=10
for i in range(2,n):
    if n%i==0:
        print("not prime")
        break
else:
        print("prime")

not prime

In [ ]:
import array as a
v=a.array('i',[1,2,3,4])
print(v)

array('i', [1, 2, 3, 4])

In [ ]:
ar=a.array('i',[])
n=int(input("enter the value of array"))
for e in range(n):
    x=int(input("enter number"))
    ar.append(x)
    
print(ar)

enter the value of array2
enter number1
enter number2
array('i', [1, 2])

In [ ]:
ar=a.array('i',[])
n=int(input("enter the value of array " ))
for e in range(n):
    x=int(input("enter number "))
    ar.append(x)
    
print(ar)
val=int(input("enter the value to search "))
k=0
for i in ar:
    if val==i:
        print(k)
    k+=1;

enter the value of array2
enter number4
enter number5
array('i', [4, 5])
enter the value to search4
0

In [ ]:
ar=a.array('i',[])
n=int(input("enter the value of array"))
for e in range(n):
    x=int(input("enter number"))
    ar.append(x)
    
print(ar)
val=int(input("enter the value to searc5h"))
print(ar.index(val))

enter the value of array4
enter number5
enter number6
enter number3
enter number7
array('i', [5, 6, 3, 7])
enter the value to search3
2

In [ ]:
b=a.array('i',[1,2,3,4,5])
for i in b:
    if i==b[2]:
        continue #skip
    print(i)

1
2
4
5

In [ ]:
def sum(*b):
    c=0
    for i in b:
        c=c+i
    print(c)

In [ ]:
sum(1,2,3,4)

10

In [ ]:
#factorial
n=int(input("enter the value of n "))
def fact(x):
    f=1
    for i in range(1,n+1):
        f=f*i
    print(f)
fact(n)

enter the value of n 7
5040

In [ ]:
num=int(input("Enter the number: "))
def fact(num):
    if num==0:
        return 1
    elif num>0:
        return num*fact(num-1)
    else:
        return "Invalid Number Entered"
fact(num)

Enter the number: 5

120

In [ ]:
#fibonacci
n=int(input("entr the number of finconacci series"))
def fib(x):
    x=0
    y=1
    print(x)
    print(y)
    for i in range(2,n):
        z=x+y
        x=y
        y=z
        print(z)
fib(n)

entr the number of finconacci series8
0
1
1
2
3
5
8
13

In [ ]:
#fibonacci series
def fib(n):
    """fibonacci series"""
    l=[]
    a,b=0,1
    while a<n:
        l.append(a)
        a,b=b,a+b
    print(l)

In [ ]:
fib(10)

[0, 1, 1, 2, 3, 5, 8]

In [ ]:
help(fib)

Help on function fib in module __main__:

fib(n)
    fibonacci series

In [ ]:
f=fib
print(f(10))

[0, 1, 1, 2, 3, 5, 8]
None

In [ ]:
for i in range(4):
    for j in range(4):
        print("#",end=" ")
    print('\n')

# # # #

# # # #

# # # #

# # # #

In [ ]:
for i in range(4):
    for j in range(i):
        print("#",end=" ")
    print('\n')

#

# #

# # #

In [ ]:
l=[]
def series(n):
    i=1
    while i <= n:
        l.append(i)
        i+=1
        print(l)

In [ ]:
series(10)

[1]
[1, 2]
[1, 2, 3]
[1, 2, 3, 4]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6, 7]
[1, 2, 3, 4, 5, 6, 7, 8]
[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
for i in range(1,5):
    for j in range(i,5):
        print(j,end=" ")
    print(" ")

1 2 3 4
2 3 4
3 4
4

In [ ]:
for i in range(1,5):
    for j in range(1,i+1):
        print(j,end=" ")
    print(" ")

1
1 2
1 2 3
1 2 3 4

In [ ]:
for i in range(1,4):
    for j in range(i):
        print("l",end=" ")
    print(' ')

l
l l
l l l

In [ ]:
def series(n):
    i=0
    while i <= n:
        print('*'*i)
        i+=1
        
series(10)

*
**
***
****
*****
******
*******
********
*********
**********

In [ ]:
def funct(kind, *arguments,**keywords):
    print('first arg is ', kind)
    print('this is fixed value constant - see::', kind)
    print('-'*30)
    print('arguments: ', '\n\n')
    for arg in arguments: 
        print(arg)
    print('-'*30)
    print('keywords: ', '\n\n')
    for kw in keywords:
        print(kw , ':' ,keywords[kw])

In [ ]:
funct('bubble', 'arg1','arg2',kw1='key1',kw2='key2')

first arg is  bubble
this is fixed value constant - see:: bubble
------------------------------
arguments:


arg1
arg2
------------------------------
keywords:


kw1 : key1
kw2 : key2

In [ ]:
l=[]
for i in range(2000,3201):
    if (i%7==0) and (i%5!=0):
        l.append(str(i))
l

['2002',
 '2009',
 '2016',
 '2023',
 '2037',
 '2044',
 '2051',
 '2058',
 '2072',
 '2079',
 '2086',
 '2093',
 '2107',
 '2114',
 '2121',
 '2128',
 '2142',
 '2149',
 '2156',
 '2163',
 '2177',
 '2184',
 '2191',
 '2198',
 '2212',
 '2219',
 '2226',
 '2233',
 '2247',
 '2254',
 '2261',
 '2268',
 '2282',
 '2289',
 '2296',
 '2303',
 '2317',
 '2324',
 '2331',
 '2338',
 '2352',
 '2359',
 '2366',
 '2373',
 '2387',
 '2394',
 '2401',
 '2408',
 '2422',
 '2429',
 '2436',
 '2443',
 '2457',
 '2464',
 '2471',
 '2478',
 '2492',
 '2499',
 '2506',
 '2513',
 '2527',
 '2534',
 '2541',
 '2548',
 '2562',
 '2569',
 '2576',
 '2583',
 '2597',
 '2604',
 '2611',
 '2618',
 '2632',
 '2639',
 '2646',
 '2653',
 '2667',
 '2674',
 '2681',
 '2688',
 '2702',
 '2709',
 '2716',
 '2723',
 '2737',
 '2744',
 '2751',
 '2758',
 '2772',
 '2779',
 '2786',
 '2793',
 '2807',
 '2814',
 '2821',
 '2828',
 '2842',
 '2849',
 '2856',
 '2863',
 '2877',
 '2884',
 '2891',
 '2898',
 '2912',
 '2919',
 '2926',
 '2933',
 '2947',
 '2954',
 '2961',
 '2968',
 '2982',
 '2989',
 '2996',
 '3003',
 '3017',
 '3024',
 '3031',
 '3038',
 '3052',
 '3059',
 '3066',
 '3073',
 '3087',
 '3094',
 '3101',
 '3108',
 '3122',
 '3129',
 '3136',
 '3143',
 '3157',
 '3164',
 '3171',
 '3178',
 '3192',
 '3199']

In [ ]:
def fact(n):
    if n==0:
        return 1
    else:
        return n*fact(n-1)

In [ ]:
fact(8)

40320

In [ ]:
i=dict({'k':'9'})
i

{'k': '9'}

In [ ]:
d=dict()
def squares(n):
    for i in range(1,n+1):
        d[i]=i*i
    print(d)

In [ ]:
squares(8)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

In [ ]:
def list_tup(values):
    l=values.split(",")
    print(l)

In [ ]:
# Python function that takes a list of words and returns the length of the longest one.
l1= ["PHP", "Exercises", "Backend"]
for x in l1:
    if len(x)==(max(len(a) for a in l1)):
        print(x)

Exercises

In [ ]:
# Python program to remove the characters which have odd index values of a given string.
z=[x for x in list("python") if list("python").index(x)%2==0]
"".join(z)

'pto'

# Lambda Expressions

lambda arguments: expression

It can have any number of arguments but one expression only. and doesnot have any return function

In [ ]:
l=lambda x: x**2
l(5)

25

In [ ]:
def square(x):
    return x**2
square(5)

25

In [ ]:
x=[22,34,56,67,99,12,43]
l=[]
for i in x:
    if i%2!=0:
        l.append(i)
l

[67, 99, 43]

In [ ]:
list(filter(lambda x : (x%2!=0),x))

[67, 99, 43]

In [ ]:
x=[22,34,56,67,99,12,43]
l=[]
for i in x:
    l.append(i*2)
    
l

[44, 68, 112, 134, 198, 24, 86]

In [ ]:
list(map(lambda x : x*2,x))

[44, 68, 112, 134, 198, 24, 86]

In [ ]:
x=[22,34,56,67,99,12,43]
[i*2 for i in x]

[44, 68, 112, 134, 198, 24, 86]

In [ ]:
from functools import reduce
li=[10,4,3,1,3]
reduce((lambda x,y :x+y),li) # repeated operation over the pairs- like fibonacci its is giving the last sum

21

# LISTS

In [ ]:
#Enables multiple outputs from each cell 
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [ ]:
x=['a','g','b','d','e','l','k']
x.sort()
print(x)
x.reverse()
print(x)
sorted(x)

['a', 'b', 'd', 'e', 'g', 'k', 'l']
['l', 'k', 'g', 'e', 'd', 'b', 'a']

['a', 'b', 'd', 'e', 'g', 'k', 'l']

In [ ]:
l1=['a', 2,'x', 3,4]
print(l1.pop())
print(l1)
l1.append('r')
print(l1)
l1.extend([6,7])
print(l1)
l1.append([6,7])
print(l1)
print(l1.index([6,7]))
print(l1.count(2))

4
['a', 2, 'x', 3]
['a', 2, 'x', 3, 'r']
['a', 2, 'x', 3, 'r', 6, 7]
['a', 2, 'x', 3, 'r', 6, 7, [6, 7]]
7
1

In [ ]:
list1=['rach',24,True,'hey',90,False,'hey']
print(list1)
print(list1[3])

['rach', 24, True, 'hey', 90, False, 'hey']
hey

In [ ]:
list1[-3:-2]

[90]

In [ ]:
#slicing
print(list1[:]) # all
print(list1[1:3]) # except 3rd from 1st
print(list1[-1:]) # counting from end.. give 1st elt
print(list1[:-1]) # except the last one.
print(list1[:2]) # first 2
print(list1[::2]) # skipping every 2nd one . step value=2

['rach', 24, True, 'hey', 90, False, 'hey']
[24, True]
['hey']
['rach', 24, True, 'hey', 90, False]
['rach', 24]
['rach', True, 90, 'hey']

In [ ]:
print(list1.count('hey'))
print(list1.index('hey'))
print(list1.index('hey',5)) # count from 5th position

2
3
6

In [ ]:
print(list1)
list1.reverse()
print(list1)

['rach', 24, True, 'hey', 90, False, 'hey']
['hey', False, 90, 'hey', True, 24, 'rach']

In [ ]:
list1.append(56565)
print(list1)

['hey', False, 90, 'hey', True, 24, 'rach', 56565]

In [ ]:
list1.extend([32,'ktkt',65,True])
list1

['hey', False, 90, 'hey', True, 24, 'rach', 56565, 32, 'ktkt', 65, True]

In [ ]:
list1.insert(1,True)
list1

['hey', True, False, 90, 'hey', True, 24, 'rach', 56565, 32, 'ktkt', 65, True]

In [ ]:
list1.pop(3) # removes 3rd element in list
list1

['hey', True, False, 'hey', True, 24, 'rach', 56565, 32, 'ktkt', 65, True]

In [ ]:
list1.clear()
list1

[]

In [ ]:
l=[23,"h",help,bool(),type(list1)] # can contain different types of variables
l

[23,
 'h',
 Type help() for interactive help, or help(object) for help about object.,
 False,
 list]

In [ ]:
nest = [1,2,3,[4,5,['target']]]
print(nest[3][2][0])

target

In [ ]:
# list of lists can be obtained and used as follows:
list_of_lists=[[1,3,"j"],[3,5,True]]
print(list_of_lists[1])
print(list_of_lists[1][2])
print(list_of_lists[0][:])
print(list_of_lists[0][-1:])

[3, 5, True]
True
[1, 3, 'j']
['j']

In [ ]:
# lists are mutable
planets=["mercury","venus","earth","mars","jupiter"]
planets[2]="Earth"
print(planets)
print(planets[:2])
planets[:2]=["m","v"]
print(planets)

['mercury', 'venus', 'Earth', 'mars', 'jupiter']
['mercury', 'venus']
['m', 'v', 'Earth', 'mars', 'jupiter']

In [ ]:
# some built in functions for lists
print(planets)
print(len(planets))
print(sorted(planets))

['m', 'v', 'Earth', 'mars', 'jupiter']
5
['Earth', 'jupiter', 'm', 'mars', 'v']

In [ ]:
# some others
a=[1,2,3]
print(a)
print(sum(a))
print(max(a))
print(min(a))

[1, 2, 3]
6
3
1

In [ ]:
a=[1,2,3]
b=[5,6,7]
a,b=b,a
print(a,b)

[5, 6, 7] [1, 2, 3]

In [ ]:
fruits=['orange', 'banana', 'apple']
fruits.sort()
fruits

['apple', 'banana', 'orange']

In [ ]:
fruits.pop() #last one

'orange'

In [ ]:
fruits # gone

['apple', 'banana']

In [ ]:
# Lists as Queues
from collections import deque
queue=deque(['rach','sanj','mom','dad'])
queue.append('sev')
queue.append('avi')
queue.popleft()
queue.pop()
queue

deque(['sanj', 'mom', 'dad', 'sev'])

In [ ]:
[(x, y) for x in [1,2,3] for y in [3,1,4] if x != y]

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]

In [ ]:
c=[]
for x in [1,2,3]:
    for y in [3,1,4]:
        if x!=y:
            c.append((x,y))
c
#Note how the order of the for and if statements is the same in both these snippets.

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]

In [ ]:
vec=[-1,-4,-5,0,1,2,3]
print([x for x in vec if x>0])
print([abs(x) for x in vec])

[1, 2, 3]

In [ ]:
vec=[' i','am ', 'good ']
print([word.strip() for word in vec])

['i', 'am', 'good']

In [ ]:
[(i,i**2) for i in range(1,10)]

[(1, 1), (2, 4), (3, 9), (4, 16), (5, 25), (6, 36), (7, 49), (8, 64), (9, 81)]

In [ ]:
vec = [[1,2,3], [4,5,6], [7,8,9]]
[num for elem in vec for num in elem]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
from math import pi
[str(round(pi,i)) for i in range(8)]

['3.0', '3.1', '3.14', '3.142', '3.1416', '3.14159', '3.141593', '3.1415927']

In [ ]:
matrix=[[1,2,3],
       [4,5,6],[7,8,9]]
[[row[i] for row in matrix] for i in range(3)]

[[1, 4, 7], [2, 5, 8], [3, 6, 9]]

In [ ]:
list(zip(*matrix))

[(1, 4, 7), (2, 5, 8), (3, 6, 9)]

['motor', 'home-building', 'liability', 'Workerscomp', 'motor']
4
motor
motor
['home-building', 'liability', 'Workerscomp']

# TUPLES 

* Tuples are sequence data types like lists
* They are immutable 
* They just consists of values separated by commas
* Whereas a list (usually) consists of homogenous data type elements, tuples are (usually) used to store heterogenous data types

In [ ]:
t=0,'rach',True
print(t)
print(t[2])

(0, 'rach', True)
True

In [ ]:
t[2]=22 # immutable

TypeError: ignored

In [ ]:
u=t,(1,2,3)
print(u)

((0, 'rach', True), (1, 2, 3))

In [ ]:
single='hehe',
single

('hehe',)

In [ ]:
print(t)
x,y,z=t
print(x,z,y)

(0, 'rach', True)
0 True rach

In [ ]:
v = ([1, 2, 3], [3, 2, 1])
v[0][1]

2

# SETS

In [ ]:
set1={'a','l','m','k',3,'a','k'}
set1 # duplicates removed

{3, 'a', 'k', 'l', 'm'}

In [ ]:
set1.add((1,2,3))
set1.update((2,3))
set1

{(1, 2, 3), 2, 3, 'a', 'k', 'l', 'm'}

In [ ]:
set2=set(['a','k','m','l','l','k'])
set2

{'a', 'k', 'l', 'm'}

In [ ]:
'a' in set1

True

In [ ]:
# If that value is not present, discard() does nothing, but remove() will raise a KeyError exception.
a={12,3,3,4}
a.remove(12)
a

{3, 4}

In [ ]:
a={12,3,3,4}
a.discard(3)
a

{4, 12}

In [ ]:
a={12,3,3,4}
a.union({11,2,22,13})

{2, 3, 4, 11, 12, 13, 22}

In [ ]:
set3=set('abcdef')
set4=set('abxyz')
set3,set4

({'a', 'b', 'c', 'd', 'e', 'f'}, {'a', 'b', 'x', 'y', 'z'})

In [ ]:
set3&set4

{'a', 'b'}

In [ ]:
set3.intersection(set4) # or set3&set4

{'a', 'b'}

In [ ]:
set3-set4

{'c', 'd', 'e', 'f'}

In [ ]:
set3.difference(set4) # or set3-set4

{'c', 'd', 'e', 'f'}

In [ ]:
set3|set4

{'a', 'b', 'c', 'd', 'e', 'f', 'x', 'y', 'z'}

In [ ]:
set3.symmetric_difference(set4)

{'c', 'd', 'e', 'f', 'x', 'y', 'z'}

In [ ]:
set3^set4 # elts in set3 and set4 but not both

{'c', 'd', 'e', 'f', 'x', 'y', 'z'}

In [ ]:
# {x for x in 'absfeirbsnfk' if x not in set2}

In [ ]:
# Update section
set5 = set()
set5.update(set3)
set5

{'a', 'b', 'c', 'd', 'e', 'f'}

In [ ]:
set5.intersection_update(['e','a','f','x'])
set5

{'a', 'e', 'f'}

In [ ]:
set5.symmetric_difference_update(['f','x'])
set5

{'a', 'e', 'x'}

# Dictionary

dictionary is a set of key: value pairs, with the requirement that the keys are unique (within one dictionary). A pair of braces creates an empty dictionary: {}. Placing a comma-separated list of key:value pairs within the braces adds initial key:value pairs to the dictionary;

* Unlike lists that are indexed by integers, dictionaires are indexed using keys
* Keys can be any immutable data type. Strings and numbers are good keys
* Dictionaries can be thought of as an unordered set of key:value pairs
* Primary purpose of a dictionary is to extract value corresponding to a key and storing the value of a key

In [ ]:
dic={'sanj':28,'me':22,'mom':50}
dic

{'me': 22, 'mom': 50, 'sanj': 28}

In [ ]:
dic['dad']=55
dic

{'dad': 55, 'me': 22, 'mom': 50, 'sanj': 28}

In [ ]:
dic['mom']=51
dic

{'dad': 55, 'me': 22, 'mom': 51, 'sanj': 28}

In [ ]:
dic['mom']

51

In [ ]:
dic['sev']=20
dic

{'dad': 55, 'me': 22, 'mom': 51, 'sanj': 28, 'sev': 20}

In [ ]:
del dic['sev']

In [ ]:
list(dic)

['sanj', 'me', 'mom', 'dad']

In [ ]:
sorted(dic)

['dad', 'me', 'mom', 'sanj']

In [ ]:
'mom' in dic

True

In [ ]:
'sev' in dic

False

In [ ]:
'sev' not in dic

True

In [ ]:
dict([('sape', 4139), ('guido', 4127), ('jack', 4098)])

{'guido': 4127, 'jack': 4098, 'sape': 4139}

In [ ]:
{x: x**2 for x in (2, 4, 6)}

{2: 4, 4: 16, 6: 36}

In [ ]:
dict([('sape', 4139), ('guido', 4127), ('jack', 4098)])
dict(sape=4139, guido=4127, jack=4098)

{'guido': 4127, 'jack': 4098, 'sape': 4139}

{'guido': 4127, 'jack': 4098, 'sape': 4139}

In [ ]:
tel = {'jack': 4098, 'sape': 4139}
tel.get('jack')

4098

In [ ]:
tel.update({'zoe':3232})
tel

{'jack': 4098, 'joe': 3232, 'sape': 4139, 'zoe': 3232}

In [ ]:
tel = {'jack': 4098, 'sape': 4139}
tel['guido'] = 4127
print(tel)
print(list(tel.items()))
a = dict(sorted(tel.items(),key=lambda x: x[0]))
a

{'jack': 4098, 'sape': 4139, 'guido': 4127}
[('jack', 4098), ('sape', 4139), ('guido', 4127)]

{'guido': 4127, 'jack': 4098, 'sape': 4139}

In [ ]:
#Arithmetic operations can be performed on dictionaries with the same keys
from collections import Counter
d1 = {'a': 100, 'b': 200, 'c':300}
d2 = {'a': 300, 'b': 200, 'd':400}
d = dict(Counter(d1) + Counter(d2))
d

{'a': 400, 'b': 400, 'c': 300, 'd': 400}

# LOOPING TECHNIQUES

In [ ]:
# Loops are a way to repeatedly execute some code
a=["a","b","c","d"]
for i in a:
    print(i,end='.. ') # print all on same line

a.. b.. c.. d..

In [ ]:
dic

{'sanj': 28, 'me': 22, 'mom': 51, 'dad': 55}

In [ ]:
for (k,v) in dic.items():
    print(k,':', v)

sanj : 28
me : 22
mom : 51
dad : 55

In [ ]:
list(zip('abcd','xy'))

[('a', 'x'), ('b', 'y')]

In [ ]:
l1 = ["eat","sleep","repeat"]
for ele in enumerate(l1):
    print (ele)

(0, 'eat')
(1, 'sleep')
(2, 'repeat')

In [ ]:
for count,ele in enumerate(l1,100):
    print (count,ele)

100 eat
101 sleep
102 repeat

In [ ]:
print(list(enumerate(l1)))

[(0, 'eat'), (1, 'sleep'), (2, 'repeat')]

In [ ]:
s1='geek'
print(list(enumerate(s1,2)))

[(2, 'g'), (3, 'e'), (4, 'e'), (5, 'k')]

In [ ]:
ques=['name','age','occupation']
ans=['rach',22,'student']
for (q,a) in zip(ques,ans):
    print('what is your {0}? I\'m {1}'.format(q,a))

what is your name? I'm rach
what is your age? I'm 22
what is your occupation? I'm student

In [ ]:
import math
raw=[34,float('NaN'),23,float('NaN'),12,34]
filtered=[]
for i in raw:
    if not math.isnan(i): # note that raw must contain real number not a str so not 'NaN' but float('NaN')
        filtered.append(i)
filtered

[34, 23, 12, 34]

In [ ]:
str1,str2,str3='','hey','hey you'
not_null=str1 or str2 or str3
not_null # not null means no spaces

'hey'

In [ ]:
# while loop
i = 1
while i < 5:
    print('i is: {}'.format(i))
    i = i+1

i is: 1
i is: 2
i is: 3
i is: 4

In [ ]:
# Define isPrime function
num = int(input("Provide an integer: "))
if num not in (1,2):
    for i in range(2, int(num/2)+1):
        # If num is divisible by any number between
        # 2 and n / 2, it is not prime
        if (num%i == 0):
            print(f'{num} is not a prime number')
            break
        else:
            print(f'{num} is a prime number')
elif num==1:
    print(f'{num} is not a prime number')
elif num ==2:
    print(f'{num} is a prime number')

Provide an integer: 10
10 is not a prime number

In [ ]:
s="The lyrics is not that poor"
s_not=s.find("not")
s_poor=s.find("poor")
if s_poor>s_not and s_poor>0 and s_not>0:
    st=s.replace(s[s_not:s_poor+10],"good")
    print(st)

The lyrics is good

# COMPARISONS

In [ ]:
'n'>'b'

True

In [ ]:
'abc'>'a' # first 2 items are compared. if false then false, ow, true

False

In [ ]:
'python'>'g'

True

In [ ]:
'c'>'python'

False

In [ ]:
(1, 2, 3) == (1.0, 2.0, 3.0)

True

In [ ]:
[1, 2, 3] < [1, 2, 4]

True

In [ ]:
"hey"=="bye"

False

In [ ]:
(1 > 2) and (2 < 3)

False

In [ ]:
(1 > 2) or (2 < 3)

True

Random

In [ ]:
#to shuffle list
import random
l7=['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']
random.shuffle(l7)
print(l7)

['Yellow', 'Green', 'Pink', 'Red', 'Black', 'White']

In [ ]:
import itertools
l8=[1,2,3]
list(itertools.permutations(l8,3))

[(1, 2, 3), (1, 3, 2), (2, 1, 3), (2, 3, 1), (3, 1, 2), (3, 2, 1)]

In [ ]:
l9=['T', 'h', 'e', 'M','a','t','h','C','o','m','p','a','n','y']
''.join(l9)

'TheMathCompany'

In [ ]:
#  find the highest 3 values in a dictionary.
from collections import Counter
dict1={'a':500, 'b':5874, 'c': 560,'d':400, 'e':5874, 'f': 20} 
k=Counter(dict1) 
high=k.most_common(3)
res=[]
for i in high: 
    res.extend(list(i[0]))
print(res)

['b', 'e', 'c']

In [ ]:
#  sort a tuple by its float element.
tup=[('item1', '12.20'), ('item2', '15.10'), ('item3', '24.5')]
sorted(tup, key = lambda x: float(x[1]), reverse = True)

[('item3', '24.5'), ('item2', '15.10'), ('item1', '12.20')]

In [ ]:
for i in range(7):
    if i==3 or i==6:
        continue
    print(i)

0
1
2
4
5

In [ ]:
# Python program that accepts a string and calculate the number of digits and letters
st=input("Enter the sample string: ")
digits=0
letters=0
for i in st:
    if i.isdigit():
        digits+=1
    elif i.isalpha():
        letters+=1
    else:
        pass
print("Letters ",letters)
print("Digits ",digits)

Enter the sample string: rachita 2.0
Letters  7
Digits  2

In [ ]:
'ra'.isalpha()

True

In [ ]:
'ra'.isdigit()

False

In [ ]:
'0'.isdigit()

True

In [ ]:
'2'.isPrime()

AttributeError: ignored

In [ ]:
'a'.isupper(), 'A'.isupper()

(False, True)

In [ ]:
'A'.islower()

False

In [ ]:
li=[{'name': 'john', 'age': 50}, {'name': 'kyle', 'points': 30}]
print(list(map((lambda x: x["name"]),li))) 
e=[]
list(map(lambda x: e.extend(list(x.values())) ,li))
print(e)
for i in e:
    if isinstance(i,str):
        e.remove(i) 
e1=[]
list(map(lambda x: e1.append(x*10)  ,e)) 
print(e1)
print(list(map((lambda x: True if x["name"]=="john" else False),li)))

['john', 'kyle']
['john', 50, 'kyle', 30]
[500, 300]
[True, False]

In [ ]:
# 6. Write a python program to filter list of dictionaries (use filter and lambda)
# Sample Input: [{'name': 'python', 'points': 10}, {'name': 'java', 'points': 8}]
# Expected Output: [{'name': 'python', 'points': 10}]
lis=[{'name': 'python', 'points': 10}, {'name': 'java', 'points': 8}]
list(filter((lambda x: x["name"]=="python"),lis))
    
# 7. Write a python program to add two lists (use map and lambda)
# Sample Input: list_a = [1, 2, 3]
#               list_b = [10, 20, 30]
# Expected Output: [11, 22, 33]

list_a = [1, 2, 3]
list_b = [10, 20, 30]
list(map(lambda x, y : (x+y) , list_a, list_b))

[11, 22, 33]

In [ ]:
cmp(3,1) # Returns a random float number between two given parameters

NameError: ignored

In [ ]:
bool('sa')

True

In [ ]:
['p','t'][bool('ra')]

't'

In [ ]:
['p','t'][bool(3<1)] # if false first elemebnt

'p'

In [ ]:
{} or []

[]

In [ ]:
a = 90
b = 20
 
if(a<b):
  pass
else:
  print("b<a")

b<a

In [ ]:
li =['a', 'b', 'c', 'd']
 
for i in li:
    if(i =='a'):
        pass
    else:
        print(i)

b
c
d

In [ ]:
li =['a', 'b', 'c', 'd']
 
for i in li:
    if(i =='c'):
        continue
    else:
        print(i)

a
b
d

In [ ]:
li =['a', 'b', 'c', 'd']
 
for i in li:
    if(i =='c'):
        break
    else:
        print(i)

a
b

In [ ]:
li =['a', 'b', 'c', 'd']
 
for i in li:
    if(i =='c'):
        pass # you don't know what you want to do when it is true, so for now you pass
    else:
        print(i)

a
b
d

In [ ]:
def fn():
  # i am creating it but not sure on it's use it so will pass
  pass